{{- define "navbar" }}
<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Elvanto Overview</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
      {{- if not .LoggedOut }}
      <div class="d-flex">
        <a href="/logout" class="mx-1 btn btn-primary d-flex justify-content-end">Log out</a>
      </div>
      {{- end }}
    </div>
</div>
{{- end }}
