{{ template "header" }}
{{ template "navbar" }}

{{- $elvantoDomain := .ElvantoDomain }}
  <div class="pt-3 accordion" id="svcAccordion">
    {{- range $i, $type := .Services }}
    <div class="accordion-item">
      <div class="accordion-header" id="svcTypeHeading{{$i}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#svcTypeCollapse{{$i}}">
          <h4>{{ $type.Type }}</h4>
        </button>
      </div>
      <div id="svcTypeCollapse{{$i}}" class="accordion-collapse collapse" data-bs-parent="#svcAccordion">
        <div class="accordion-body container">
          {{- range $type.Services }}
          <div class="row py-3">
            <div class="col-12 col-sm-6">
              <h5>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">{{ .Date }}</li>
                  <li class="breadcrumb-item">{{ .Location }}</li>
                </ol>
              </h5>
            </div>
            <div class="col-12 col-sm-6">
              <a href="https://{{ $elvantoDomain }}/admin/services/service_volunteers/?id={{ .ID }}" target="_blank" class="btn btn-primary">
                View Service
              </a>
            </div>
          </div>
          {{- range .Departments }}
          <h5 class="pt-2">{{ .Name }}</h5>
          <ul class="list-group list-group-flush">
            {{- range .Positions }}
            {{- $pos := .Name }}
            {{- range .Volunteers }}
            <ol class="breadcrumb">
              <li class="breadcrumb-item">{{ $pos }}</li>
              <li class="breadcrumb-item">{{ . }}</li>
            </ol>
            {{- end }}
            {{- end }}
          </ul>
          {{- end }}
          {{- end }}
        </div>
      </div>
    </div>
    {{- end }}
  </div>

{{ template "footer" }}
